input[type="text"],
input[type="password"],
textarea,
select{
    border: 1px solid #999;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{
    border: 1px solid #008c8c;
}

button{
    border: 2px solid #008c8c;
    border-radius: 6px;
}

input[type="text"],
input[type="password"],
textarea{
    text-indent: 0.5em;
}

